::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdc82f;
}

body {
  color: #fff;
  text-align: center;
  font-family: Lato;
  background-color: #000;
  overflow-x: hidden;
}

body #links {
  color: #000;
  text-decoration: none;
}

body .nav {
  height: 13vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #111;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  z-index: 999;
  top: 0%;
  color: #fdc82f;
  left: 0%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
}

body .nav .logo {
  width: 14%;
}

body .nav .name {
  text-decoration: none;
  font-weight: 600;
  color: #fdc82f;
  font-stretch: condensed;
  letter-spacing: 3px;
  font-size: 17px;
  text-transform: uppercase;
}

body .V_link {
  color: black;
  font-size: 14px;
}

body .V_link:hover {
  background-color: #fdc82f;
}

body .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 46vh;
  width: 100%;
  margin-bottom: 50px;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}

body .category .thumb {
  background-color: #fdc82f;
  width: 100%;
  margin-left: 1px;
  padding: 0px 30px;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}

body .category .thumb img {
  width: 40%;
}

body .category .thumb .lines {
  font-weight: 500;
  color: black;
}

body .category .thumb strong {
  color: black;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

body .category .thumb h6 {
  font-size: 13px;
  text-transform: capitalize;
}

body .category .thumb:hover img,
body .category .thumb:hover h6,
body .category .thumb:hover .lines,
body .category .thumb:hover strong {
  opacity: 0;
}

body .category #mid {
  cursor: pointer;
}

body .category #mid:hover {
  background-size: contain;
  background-image: url(../src/pages/pictures/middle_school_hover.jpg);
}

body .category #early {
  cursor: pointer;
}

body .category #early:hover {
  background-size: contain;
  background-image: url(../src/pages/pictures/early_learning_hover.jpg);
}

body .category #junior {
  cursor: pointer;
}

body .category #junior:hover {
  background-size: contain;
  background-image: url(../src/pages/pictures/junior_school_hover.jpg);
}

body .category #boarding {
  cursor: pointer;
}

body .category #boarding:hover {
  background-size: contain;
  background-image: url(../src/pages/pictures/boarding_hover.jpg);
}

body .category #senior {
  cursor: pointer;
}

body .category #senior:hover {
  background-size: contain;
  background-image: url(../src/pages/pictures/senior_college_hover.jpg);
}

body .intro {
  text-align: center;
  padding: 100px;
}

body .intro p {
  line-height: 85px;
  text-transform: capitalize;
  font-size: 20px;
}

body .intro h2 {
  color: #fdc82f;
  font-weight: 600;
  margin-bottom: 100px;
}

body .outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 150px;
}

body .outline p {
  color: #ffff;
  text-align: left;
  padding-left: 400px;
  padding-bottom: 150px;
  width: 100%;
}

body .outline p button {
  margin-top: 50px;
  background-color: #fdc82f;
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .outline p button:hover {
  background-color: transparent;
  border: 1px solid #fdc82f;
  color: #fdc82f;
}

body .outline p h3 {
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

body .outline p div {
  font-size: 13px;
  text-transform: capitalize;
}

body .btn-g {
  background-color: #fdc82f;
  padding: 10px 20px;
  border: 1px solid #fdc82f;
  background-color: transparent;
  margin-left: 20px;
  font-size: 15px;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}

body .btn-g a {
  text-decoration: none;
  color: #fdc82f;
}

body .btn-g:hover {
  background-color: #fdc82f;
}

body .btn-g:hover a {
  color: #000;
}

body .campus {
  margin-top: 150px;
}

body .campus h1 {
  margin-bottom: 50px;
  color: #fdc82f;
  text-transform: capitalize;
}

body .campus p {
  line-height: 50px;
  font-size: 18px;
  text-transform: capitalize;
}

body .card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

body .card:hover .card-body {
  background-color: #fdc82f;
  color: white;
}

body .card .card-body {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .card .card-body .card-text {
  font-size: 14px;
}

body .card .card-body .card-title {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
}

body .card .card-body button {
  background-color: #fdc82f;
  border: none;
  font-size: 12px;
  color: #000;
}

body .paflet {
  margin-top: 100px;
}

body .paflet img {
  width: 110%;
}

body .news .news_thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 110px;
}

body .news .news_thumb p {
  color: #ffff;
  text-align: left;
  padding-left: 450px;
  padding-bottom: 50px;
}

body .news .news_thumb p button {
  margin-top: 50px;
  background-color: #fdc82f;
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .news .news_thumb p button:hover {
  background-color: transparent;
  border: 1px solid #fdc82f;
  color: #fdc82f;
}

body .news .news_thumb p h3 {
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

body .news .news_thumb p div {
  font-size: 13px;
  text-transform: capitalize;
}

body .contact {
  margin-top: 100px;
  text-align: left;
}

body .contact h3 {
  color: #fdc82f;
  margin-bottom: 30px;
}

body .contact p {
  margin-top: 30px;
}

body .footer {
  background-color: #fdc82f;
  padding: 30px;
  margin-top: 100px;
  color: black;
}

body .footer strong {
  padding-left: 50px;
}

body .footer a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: Lato;
  src: url(Lato-Regular.ttf);
}

#fade {
  opacity: 0.5;
}

.music {
  text-align: left;
}

.music img {
  width: 100%;
  height: 20%;
  margin-top: -100px;
  margin-bottom: 100px;
}

.music .topOne,
.music .topTwo,
.music .last {
  margin-top: 50px;
  margin-bottom: 100px;
}

.music h1 {
  color: #fdc82f;
  font-size: 40px;
  margin-bottom: 20px;
}

.music .formlink {
  background-color: #fdc82f;
  color: #111;
  border: none;
}

.mainform .section {
  height: 100vh;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(./pages/pictures/pc8.jpg);
  padding-top: 70px;
  text-align: left;
  background-size: 1300px;
}

.mainform .section .logoname {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.mainform .section img {
  width: 10%;
}

.mainform .section h5 {
  width: 50%;
}

.mainform .section button {
  background: green;
  padding: 10px 20px;
  border: 1px solid green;
  outline: green;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainform .section button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainform .section #continue {
  background: none;
  margin-left: 50px;
}

.mainform .requirements {
  height: 100vh;
  padding-top: 100px;
  background-color: whitesmoke;
  color: #000;
}

.mainform .requirements button {
  background: green;
  padding: 10px 20px;
  border: 1px solid green;
  outline: green;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainform .requirements button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainform .requirements #continue {
  color: #000;
  background: none;
  margin-left: 50px;
}

.news-details {
  text-align: left;
}

.news-details p {
  width: 70%;
  font-size: 15px;
}

.news-details h2 {
  color: #fdc82f;
}

.news-details img {
  width: 100%;
}

.error {
  color: #fdc82f;
}

.breadcrumb {
  margin-left: auto;
  cursor: pointer;
}

.breadcrumb .active {
  color: #fdc82f;
}

@media screen and (max-width: 767px) {
  body .nav {
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
  }
  body .nav .logo {
    width: 14%;
  }
  body .nav .name {
    font-size: 14px;
    text-transform: uppercase;
  }
  body .navbtn {
    margin-top: -50px;
  }
  body .category {
    display: block;
    height: 100vh;
    width: 99%;
    margin-bottom: 50px;
    font-size: 8px;
    -webkit-transition: all ease-in-out 0.6s;
    transition: all ease-in-out 0.6s;
    padding: 30px;
  }
  body .category .thumb {
    height: 50vh;
    margin-bottom: 50px;
    margin: top 20px;
  }
  body .category .thumb img {
    width: 40%;
  }
  body .category .thumb:hover img,
  body .category .thumb:hover h6,
  body .category .thumb:hover .lines,
  body .category .thumb:hover strong {
    opacity: 0;
  }
  body .intro {
    text-align: center;
    margin-top: 1400px;
    padding: 20px;
  }
  body .intro p {
    line-height: 30px;
    text-transform: capitalize;
    font-size: 16px;
  }
  body .intro h2 {
    color: #fdc82f;
    font-weight: 600;
    margin-bottom: 100px;
  }
  body .outline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 350px 100px;
    margin-top: 100px;
  }
  body .outline .cap {
    display: block;
  }
  body .outline p {
    color: #ffff;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 520px;
    width: 100%;
  }
  body .btn-g {
    display: none;
  }
  body .campus {
    margin-top: 100px;
  }
  body .campus p {
    line-height: 30px;
    font-size: 16px;
    text-transform: capitalize;
  }
  body .paflet {
    display: none;
  }
  body .news .news_thumb {
    padding: 450px 0px;
  }
  body .news .news_thumb p {
    padding-left: 0px;
    padding-bottom: 50px;
  }
  body .footer {
    padding: 10px;
    font-size: 12px;
  }
  body .footer strong {
    padding-left: 30px;
    font-size: 10px;
  }
  body .news-details p {
    width: 100%;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=App.css.map */